#box 
{
    width:inherit;
    height:inherit;
    border:1px solid grey;
}

input 
{
     width:15%;
    height:15%;
    border:none;
    font-size:70px;
}
#buttonReset 
{
     width:25%;
    height:15%;
    border:none;
    font-size:30px;
    background-color:red;
    color:#000000;
}

