@{
   ViewBag.Title = "EmployeeHome";
}

<h2>EmployeeHome</h2>

<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">

         <li>@Html.ActionLink("View Remarks", "ViewRemark", "HR")</li>
      <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>
     
  </ul>
</div>